body {
    margin: 0px;
}
.wrapper {
    height: 100%;
}
.wrapper #header {
    background-color: aqua;
    height: 350px;
}

.wrapper #top {
    height: 367px;
    margin-top: 30px;
    margin-right: 0px;
    width: 100%;
    overflow-x: scroll;
    min-width: 1000px;
}

.wrapper #middle {
    height: 530px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.wrapper #bottom {
    background-color: brown;
    height: 200px;
}

.u-height350 {
    height: 350px;
}
.u-width100pct {
    width: 652.656px;
}
#top-image {
    width: 66.6%;
    height: 352px;
    padding-left: 12px;
    padding-right: 15px;
    margin-bottom: 15px;
    position: relative;
    float: left;
    text-align: right;
    min-width: 652.656px;
}

.top-article {
    width: 33.3%;
    height: 215px;
    padding-bottom: 25px;
    padding-left: 9px;
    padding-right: 12px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    min-width: 320.328px;
}

.top-article-content {
    width: 320.328px;
    text-align: left;
}

.top-title {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
}

.top-writer {
    font-size: 18px;
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.54);
}

.div-card {
    width: 50%;
    float:left;
    min-width: 500px;
}

.card {
    width: 488px;
    height: 448px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
}
.card-img-top {
    width: 100%;
    height: 274px;
}